<div class="table-responsive">
  <table class="table table-borderless border-0 border-b-2 brc-default-l1">
    <thead class="bg-none bgc-default-tp1">
    <tr class="text-white">
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody class="text-95 text-secondary-d3">
    <tr *ngFor="let job of jobs">
      <td>{{job.id}}</td>
      <td><a routerLink="/jobs/{{job.id}}" (click)="getJobInfo(job.id)">{{job.name}}</a></td>
      <td>{{job.status}}</td>
    </tr>
    </tbody>
  </table>
</div>
