<app-job-form></app-job-form>
<div class="page-content container">
  <div class="container px-0">
    <div class="row mt-4">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="row">
          <div class="col-12">
            <div class="text-center text-150">
              <span class="text-default-d3">Job Table</span>
            </div>
          </div>
        </div>

        <hr class="row brc-default-l1 mx-n1 mb-4"/>

        <app-job-list></app-job-list>

        <hr/>

        <app-job-info></app-job-info>
      </div>
    </div>
  </div>
</div>

<!--This tells the router where to display routed views-->
<router-outlet></router-outlet>
